main {
  text-align: center;
}
html, body {
  margin: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

section {
  margin: 0;
  padding: 2em 8% 2em 8%;
}

p {
  font-size: 18px;
}

h1 {
  font-family: 'Bangers';
  font-size: 9em;
  font-weight: 100;
  margin: .25em 0 0 0;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:  #16a085;
}

.italic {
  font-style: italic;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.center {
  display: flex;
  justify-content: center;
}
.jumbotron {
  color: #ecf0f1;
  padding: 0 8%;
  position: relative;
  background-color: #16a085;
  background-image: url('images/food.png');
}

.tagline h2 {
  font-size: 2em;
  margin-top: 0;
}

.bangers {
  font-family: 'bangers';
  font-size: 1.5em;
  font-weight: 100;
}

.title {
  margin: 0 auto .8em auto
}

/*************
Team
**************/
.team {
  background-color: #ecf0f1;
  margin: 0;
  padding: 40px 8%;
}



.team .subtitle {
  margin-bottom: 3em;
}

.profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile img {
  width: 200px;
  border-radius: 50%;
}

.team p {
  font-size: 2em;
}

.underline {
  border-bottom: 4px dotted #16a085;
}
/*************
Dictionary
**************/
.dictionary {
  background-image: url('/images/footer_lodyas.png');
  margin: 0;
  padding: 15px 8%;
  color: #16a085;
}

/*.dictionary .sandwich {
  float: left;
}*/

@media (min-width: 1300px) {
  .dictionary .sandwich {
    float: left;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .dictionry .sandwich {
    display: none;
  }
}



.dictionary object {
  height: 300px;
}

.shitscription{
  text-align: right;
}
/*************
Awesome
**************/
.awesome {
  background-color: #ecf0f1;
}
.awesome-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*************
less-Awesome
**************/
.less-awesome {
  background-color: #16a085;
}
.less-wrapper {
  display: flex;
  justify-content: space-between;
}
/*************
About
**************/

.about img {
  height: 300px;
}